$md-main-color: rgb(242, 113, 29);
$md-main-text-color: #F47D20;

body {
  background: $white;
  overflow-x: hidden;
}
.md-btn-primary {
  @include button-variant($md-main-color, $md-main-color);
}
.orange {
  color: orange;
}
@mixin mdIcon($size) {
  @include size($size);
  border-radius: 5px;
  color: $md-main-text-color;
  background-color: #FFEFD9;
  display: flex;
  justify-content: center;
  align-items: center;
}
$designWidth: 1143px;
$md-container-max-widths: (
  sm: $designWidth,
  md: $designWidth,
  lg: $designWidth,
  xl: $designWidth
) !default;

.navbar-nav {
  justify-content: space-between;
  width: 100%;
}
.navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.5);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.md-container {
  width: 100%;
  max-width: 1143px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  @include make-container-max-widths($md-container-max-widths);
}
.md-banner-top {
  z-index: -1;
  @mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
  .color-background {
    @include absolute();
    top: -200px;
    background-color: #313A5A;
    width: 100%;
    height: 1097px;
    transform: skewY(-11.3deg);
  }
  .background {
    @include absolute();
    width: 100%;

    img {
      width: 100%;
      @media (max-width: 1280px) {
        width: auto;
      }
    }
  }
  .gradient {
    @include absolute();
    background: url('../images/banner-top/gradient.png');
    width: 100%;
    height: 458px;
  }
  .white-mask {
    @include absolute();
    position: absolute;
    background: white;
    height: 451px;
    width: 100%;
    top: auto;
    bottom: -418px;
    transform: skewY(-11.3deg);
  }
}
.md-header {
  min-height: 100px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.15);
  .nav-item {
    line-height: 55px;
  }
  .nav-link{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    &:hover {
      color: darken(#FFFFFF, 10%);
    }
  }
  .login-nav-link {
    $color: $md-main-text-color;
    color: $color;
    font-weight: bold;
    letter-spacing: 1.17px;
    line-height: 19px;
    &:hover {
      color: lighten($color, 5%);
    }
  }
  .md-header .nav-item {
    line-height: 55px;
  }
  .nav-link.sign-up-nav-link {
    display: inline-block;
    padding: 18px 34px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.17px;
  }
}

.md-banner {
  position: relative;
  color: #FFFFFF;
  padding-top: 175px;
  padding-bottom: 235px;
  .md-banner-presentation {
    position: absolute;
    left: 512px;
    top: 77px
  }
  .md-banner-title {
    font-size: 64px;
    font-weight: bold;
    line-height: 74px;
    margin-bottom: 0;
  }
  .md-banner-subtext {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 42px;
  }
  .btn.btn-start-you-trial {
    font-size: 14px;
    padding: 18px 24px;
    font-weight: bold;
    letter-spacing: 1.17px;
  }

  @include media-breakpoint-down(sm) {
    .md-banner-title {
      font-size: 40px;
      line-height: 58px;
    }
    .md-banner-subtext {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.md-section-header {
  text-align: center;
  color: #1A1A1A;
  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 0;
    @include media-breakpoint-only(xs) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  p {
    opacity: 0.5;      
    font-size: 18px;
    line-height: 21px;
  }
}

.md-intuitive-wrapper {
  position: relative;
  background: $white;
  color: #1A1A1A;
  border-radius: 10px;
  padding: 50px 70px;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);

  @include media-breakpoint-only(xs) {
    padding: 50px 20px;
  }

  .md-intuitive-header {
    margin-bottom: 50px;
  }

  .md-intuitive-col {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .icon {
      height: 120px;
      width: 120px;
      line-height: 120px;
      text-align: center;
      background-color: #FFF8EC;
      color: $md-main-text-color;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .separator {
      background-image: linear-gradient(to right, $md-main-text-color , #F9A83C);
      width: 50px;
      height: 5px;
      margin: 15px 0;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
    p {
      color: $black;
      opacity: 0.5;
      font-size: 16px;
    }
  }
}

.md-powerful-wrapper {
  background-color: $white;
  margin-top: 128px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  .md-powerful-col-left {
    flex: 1 1;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    h2 {
      margin-top: 100px;
      color: #1A1A1A;
      font-size: 72px;
      font-weight: bold;
      line-height: 76px;
      @media (max-width: 1100px) {
        font-size: 56px;
        line-height: 58px;
      }
      @include media-breakpoint-down(md) {
        font-size: 36px;
        line-height: 1.1;
        margin-top: 0;
      }
      @include media-breakpoint-only(xs) {
        font-size: 30px;
      }
    }
    .md-powerful-subtext {
      opacity: 0.5;
      color: #1A1A1A;
      line-height: 24px;
      font-size: 18px;
      margin-top: 25px;
    }
    .md-powerful-button-wrapper {
      margin-top: 60px;
    }
  }
  .md-btn-more-details {
    font-weight: bold;
    letter-spacing: 1.17px;
    box-shadow: 0 0 10px 0px rgba(242, 113, 29, 0.5);
    margin-right: 20px;
    margin-bottom: 20px;
    @include button-outline-variant($md-main-text-color);
    @include button-size(18px, 24px, 14px, 16px, 5px);
    border-color: transparent;
  }
  .md-btn-start-your-trial {
    font-weight: bold;
    letter-spacing: 1.17px;
    margin-bottom: 20px;
    @include button-size(18px, 24px, 14px, 16px, 5px);
  }
  .md-powerful-col-right {
    flex: 0 0 660px;
    margin: 0 auto;
    width: 660px;

    @include media-breakpoint-down(md) {
      flex: 0 0;
      width: 100%;
    }
  }

  .md-powerful-bottom-button-wrapper {
    text-align: center;
    margin-top: 50px;
    .md-btn-more-details, .md-btn-start-your-trial {
      margin: 0 10px 20px;
    }
  }
  
  .md-brand-logos {
    height: 620px;
    position: relative;

    @include media-breakpoint-down(md) {
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }
  .md-brand-logo {
    $margin: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $margin;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    
    @include media-breakpoint-down(md) {
      position: static;
      margin: 5px;
      height: 80px !important;
      
      &.xero {
        width: 80px !important;
        img {
          width: 70px !important;
          height: 70px !important;
        }
      }
    }
    
    &.burson-ezy-parts {
      top: 60px;
      left: 40px;
      @include size(140px);
      img {
        @include size(106px, 25px);
      }
    }
    &.tyro {
      top: 0;
      left: 200px;
      @include size(80px);
      img {
        @include size(49px);
      }
    }
    &.carjam {
      top: 0;
      left: 300px;
      @include size(80px);
      img {
        @include size(45px);
      }   
    }
    &.activecampaign {
      top: 300px;
      left: 200px;
      @include size(180px);
      img {
        @include size(166px, 111px);
      }   
    }
    &.autopro {
      top: 120px;
      left: 540px;
      @include size(80px);
      img {
        @include size(57px, 24px);
      }     
    }
    &.mailchimp {
      top: 100px;
      left: 200px;
      @include size(180px);
      img {
        @include size(157px, 94px);
      }    
    }
    &.mycarcheck {
      top: 500px;
      left: 300px;
      @include size(80px);
      img {
        @include size(49px, 51px);
      }   
    }
    &.myob {
      top: 420px;
      left: 60px;
      @include size(120px);
      img {
        @include size(80px, 42px);
      }    
    }
    &.pro-link {
      top: 80px;
      left: 400px;
      @include size(120px);
      img {
        @include size(91px, 17px);
      }  
    }
    &.quantum-pro {
      top: 500px;
      left: 200px;
      @include size(80px);
      img {
        @include size(63px, 15px);
      }  
    }
    &.quickbooks {
      top: 220px;
      left: 400px;
      @include size(180px);
      img {
        @include size(144px, 44px);
      } 
    }
    &.repco-navigator {
      top: 220px;
      left: 0;
      @include size(180px);
      img {
        @include size(140px, 22px);
      }
    }
    &.xero {
      top: 420px;
      left: 400px;
      @include size(150px);
      img {
        @include size(122px);
      }
    }
  }
}
.md-suitable-wrapper {
  margin-top: 110px;

  .md-suitable-content {
    margin-top: 30px;
    text-align: center;

    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);

  }
  .md-suitable-item {
    position: relative;
    @include size(190px);
    display: inline-block;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    margin: 18px 10px;
    border-radius: 10px;
    p {
      width: 100%;
      position: absolute;
      color: #1A1A1A;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      padding: 0 10px;
    }
    p.md-heavy-machinery-label,
    p.md-bikes-label {
      bottom: -5px;
    }
    img {
      position: absolute;
      transform: translateX(-50%);
      bottom: 70px;
      width: 90%;

    }
    img.md-bikes {
      bottom: 50px;
    }
    img.md-tyres-spare {
      bottom: 44px;
    }
    img.md-heavy-machinery {
      bottom: 50px;
    }
  }
}
.md-proven-wrapper {
  position: relative;
  .md-proven-background {
    position: absolute;
    left: -15px;
    height: 996px;
    width: calc(100% + 15px);
    z-index: -1;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1280px;
      height: 996px;
      background: url('../images/proven/proven-background.png') no-repeat;
    }
    &:before {
      content: '';
      position: absolute;
      right: 1280px;
      width: 1280px;
      height: 996px;
      background: url('../images/proven/proven-background.png') no-repeat;
      transform: scaleX(-1);
    }
  }
  margin-top: 96px;
  overflow: hidden;
  .md-proven-header {
    margin-top: 110px;
    color: #FFFFFF;
    p {
      margin-top: 25px;
    }
  }

  .md-carousel {
    max-width: 1000px;
    width: 100%;
    height: 400px;
    margin: 60px auto 40px;
    position: relative;
    @include media-breakpoint-only(md) {
      max-width: unset;
      height: 500px;
      width: calc(100% + 100px);
      margin-left: -50px;
    }
    @include media-breakpoint-only(sm) {
      max-width: unset;
      height: 500px;
      width: calc(100% + 210px);
      margin-left: -105px;
    }
    @include media-breakpoint-only(xs) {
      max-width: unset;
      height: 500px;
    }
  }
  .md-carousel-item {
    $width: 647px;
    $leftX: $width/2;
    $activeX: 50%;
    $rightX: calc(100% - #{$width/2});
    $hiddenX: 50%;

    position: absolute;
    background-color: white;
    height: 400px;
    width: $width;
    border-radius: 10px;
    padding: 50px;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    animation-duration: 1s;

    @include media-breakpoint-down(md) {
      width: 550px;
      height: 500px;
    }
    @include media-breakpoint-down(sm) {
      width: 440px;
    }
    @include media-breakpoint-only(xs) {
      width: 100%;
      padding: 15px;
    }


    .md-quotation-mark {
      margin-bottom: 10px;
    }
    .md-single-quotation-mark {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 40px;
      @include gradient-directional(#F48525, #F8B346);
      margin-right: 10px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: -1px;
        border: 10px solid $white;
        border-top-color: transparent;
        border-left-color: transparent;
      }
    }

    .md-text {
      margin-top: 30px;
      opacity: 0.5;
      color: #1A1A1A;
      font-size: 18px;
      font-style: italic;
      // line-height: 1.3;
      // height: 150px;

      /* hide text if it more than N lines  */
      overflow: hidden;
      /* for set '...' in absolute position */
      position: relative; 
      /* use this value to count block height */
      line-height: 1.3em;
      /* max-height = line-height (1.2) * lines max number (3) */
      max-height: 9.1em; 
      /* fix problem when last visible word doesn't adjoin right side  */
      text-align: justify;  
      /* place for '...' */
      margin-right: -1em;
      padding-right: 1em;
      &:before {
        /* points in the end */
        content: '...';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of block */
        right: 0;
        bottom: 0;
      }
      &:after {
        /* points in the end */
        content: '';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of text */
        right: 0;
        /* set width and height */
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        /* bg color = bg color under block */
        background: white;
      }
      @include media-breakpoint-down(md) {
        max-height: 14.3em; 
      }
      @include media-breakpoint-only(xs) {
        margin-top: 10px;
        font-size: 16px;
        line-height: 1.5em;
        max-height: 21em;
      }
    }
    .md-user {
      color: #1A1A1A;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0;
      @include media-breakpoint-only(xs) {
        font-size: 16px;
      }
    }
    .md-organize {
      opacity: 0.4;
      color: #1A1A1A;
      font-size: 18px;
      @include media-breakpoint-only(xs) {
        font-size: 16px;
      }
    }

    &.active {
      z-index: 2;
      left: $activeX;
      opacity: 1;
      &.moveLeft {
        
        animation-name: activeMoveLeft;
        @keyframes activeMoveLeft {
          from { left: $activeX; opacity: 1; }
          to { left: $leftX; opacity: 0.5; }
        }
      }
      &.moveRight {
        
        animation-name: activeMoveRight;
        @keyframes activeMoveRight {
          from { left: $activeX; opacity: 1; }
          to { left: $rightX; opacity: 0.5; }
        }
      }
    }
    &.left {
      z-index: 1;
      opacity: 0.5;
      left: $leftX;
      cursor: pointer;
      &.moveLeft {
        animation-name: leftMoveLeft;
        @keyframes leftMoveLeft {
          from { left: $leftX; opacity: 0.5;}
          to { left: $hiddenX; opacity: 0; }
        }
      }
      &.moveRight {
        animation-name: leftMoveRight;
        @keyframes leftMoveRight {
          from { left: $leftX; opacity: 0.5; }
          to { left: $activeX; opacity: 1; }
        }
      }
    }

    &.right {
      z-index: 1;
      opacity: 0.5;
      left: $rightX;
      cursor: pointer;
      &.moveLeft {
        animation-name: rightMoveLeft;
        @keyframes rightMoveLeft {
          from { left: $rightX; opacity: 0.5; }
          to { left: $activeX; opacity: 1; }
        }
      }
      &.moveRight {
        animation-name: rightMoveRight;
        @keyframes rightMoveRight {
          from { left: $rightX; opacity: 0.5; }
          to { left: $hiddenX; opacity: 0; }
        }
      }
    }
    &.hidden {
      z-index: 0;
      left: $hiddenX;
      opacity: 0;
      &.moveLeft {
        animation-name: hiddenMoveLeft;
        @keyframes hiddenMoveLeft {
          from { left: $hiddenX; opacity: 0; }
          to { left: $rightX; opacity: 0.5; }
        }
      }
      &.moveRight {
        animation-name: hiddenMoveRight;
        @keyframes hiddenMoveRight {
          from { left: $hiddenX; opacity: 0; }
          to { left: $leftX; opacity: 0.5; }
        }
      }
    }
  }
  .md-carousel-indicators {
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
    .md-indicator {
      font-size: 13px;
      margin: 0 5px;
      font-weight: 400;
      color: $white;
      &.md-indicator-active {
        font-weight: 900;
        color: $md-main-text-color;
      }
    }
  }
  .md-proven-organizes-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 88px;
    @include media-breakpoint-only(xl) {
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
    }
    img {
      @include size(300px);

      @include media-breakpoint-only(xl) {
        @include size(359px);
      }

    }
    .md-proven-organize {
      position: relative;
      margin: 0 10px 20px;
    }
    p {
      color: #D8D8D8;
      position: absolute;
      bottom: 9px;
      font-size: 15px;
      padding-left: 27px;
      font-weight: 600;

      @include media-breakpoint-only(xl) {
        font-size: 18px;
        bottom: 12px;
      }

    }
  }
}
.md-features-wrapper {
  margin-top: 94px;
  .md-features-header {
    margin-top: 120px;
    margin-bottom: 80px;
  }
  .md-features-item-wrapper {
    margin-top: 20px;
    min-height: 140px;

    @include media-breakpoint-down(md) {
      min-height: 200px;
    }
    @include media-breakpoint-down(sm) {
      min-height: unset;
    }
  }
  .md-features-item {
    display: flex;
    flex-flow: row;
    cursor: pointer;
    &:hover {
      background-color: #ffddbc;
    }
  }
  .md-item-left {
    flex: 0 0;
    margin-right: 30px;
  }
  .md-item-right {
    flex-grow: 1;
  }
  .md-features-icon {
    @include size(70px);
    border-radius: 5px;
    color: $md-main-text-color;
    background-color: #FFEFD9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .md-title {
    color: #1A1A1A;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .md-description {
    opacity: 0.5;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .md-toggle-description {
    display: none;
    width: calc(100% + 40px);
    margin-left: -40px;
  }
  li.no-list-style {
    list-style-type: none;
  }
}
.md-lower-part {
  position: relative;
  .md-lower-part-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    .md-gradient-background {
      height: 2560px;
      width: 100%;
      background: url('../images/gradient.png') repeat-x;
    }
    .md-lower-white-mask {
      position: absolute;
      left: 0;
      top: -200px;
      background: white;
      height: 500px;
      width: 100%;
      transform: skewY(11.6deg);
    }
    .md-blog-background {
      position: absolute;
      top: 900px;
      left: 0;
      width: 100%;
      img {
        width: 100%;
        @media (max-width: 1280px) {
          width: auto;
        }
      }
    }
  }
  
}
.md-pricing-wrapper {
  margin-top: 50px;
  position: relative;
  
  .md-pricing-content {
    margin-top: 50px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 70px;
    @include media-breakpoint-down(md) {
      padding-bottom: 30px;
    }
  }
  .md-national-btn-wrapper {
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius: 10px;
    height: 62px;
    width: 616px;
    margin: 70px auto;

    @include media-breakpoint-down(sm) {
      width: 536px;
    }
  }
  .md-national-btn {
    color: #1A1A1A;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.17px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    @include size(150px, 60px);
    
    @include media-breakpoint-down(sm) {
      @include size(130px, 60px);
    }

    &.active {
      background-color: white;
      color: #F67D00;
      box-shadow: 0 0 10px 0 rgba(246, 125, 0, 0.5);
      line-height: 62px;
      border-radius: 10px;
      transform: scale(calc(62/60));
      cursor: default;
    }
    &:not(.active):hover {
      color: lighten(#1A1A1A, 50%);
    }
  }
  .md-plan-dropdown {
    display: block;
    margin: 30px auto;
    width: 200px;
    text-decoration: none;
    cursor: pointer !important;
  }
  .md-plan-dropdown-menu  {
    width: 206px;
  }
  .md-plan-col {
    text-align: center;
    border-left: 1px solid rgba(26, 26, 26, 0.1);
    margin-bottom: 50px;
    &:nth-child(1) {
      border-left: none;
    }
  }
  .md-plan-icon {
    @include mdIcon(70px);
    margin: 0 auto 30px;
  }
  .md-plan-name {
    color: #1A1A1A;
    font-size: 36px;
    font-weight: bold;
    line-height: 39px;
    margin-bottom: 0;
  }
  .md-plan-cost {
    color: #1A1A1A;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 0;
  }
  .md-plan-per-month {
    color: #8C8C8C;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
  }

  .md-plan-days-free-trial,
  .md-plan-user,
  .md-plan-extra-user,
  .md-plan-cost-per-sms,
  .md-plan-full-support {
    opacity: 0.5;
    color: #1A1A1A;
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 0;
  }
  .md-btn-sign-up {
    margin-top: 40px;
    padding: 18px 34px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.17px;
  }
  .md-optional-addons-title {
    color: $md-main-text-color;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .md-optional-addons-subtext {
    color: #1A1A1A;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 50px;
  }
  .md-optional-addons-row {
    display: flex;
    @include media-breakpoint-up(lg) {
      padding: 0 50px;
    }
  } 
  .md-optional-addons-col {
    padding: 0 80px;
    color: #1A1A1A;
    p:nth-child(2) {
      font-size: 14px;
      line-height: 16px;
    }
    &:nth-child(1) {
      border-right: 1px solid rgba(26, 26, 26, 0.1);
    }
    @include media-breakpoint-down(md) {
      padding: 0 15px;
    }
  }
}
.md-blog-wrapper {
  position: relative;
  
  .md-blog-header {
    color: $white;
    margin-top: 96px;
    margin-bottom: 60px;
  }
  .md-blog-post-col {
    margin-bottom: 50px;
  }
  .md-blog-post {
    border-radius: 10px;
    background-color: $white;
    color: #1A1A1A;
    overflow: hidden;
    height: 100%;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .md-blog-preview {
    padding: 30px 45px;
    @include media-breakpoint-down(md) {
      padding: 20px;
    }
    @include media-breakpoint-down(sm) {
      padding: 40px 50px;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
    }
    p {
      margin-bottom: 0;
    }
    .md-blog-content-preview {
      opacity: 0.5;
      font-size: 18px;
      line-height: 24px;
    }
    a {
      font-weight: bold;
      color: $md-main-text-color;
    }
  }
}
.md-privacy-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(216, 216, 216, 0.15);
  border-top: 1px solid rgba(216, 216, 216, 0.15);
  padding-top: 50px;
  padding-bottom: 50px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    text-align: center;
  }

  .md-privacy-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 482px;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      width: auto;
    }
  }
  .md-privacy-socials {
    color: #FFFFFF;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: darken($white, 10%);
      text-decoration: none;
    }
  }
}
.md-download-now-wrapper {
  position: relative;
  display: flex;
  flex-flow: row;
  .md-left-col {
    @include media-breakpoint-up(lg) {
      flex: 0 0 897px;
    }
    color: $white;
    .md-left-col-top {
      padding-top: 70px;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      .md-contact {
        font-size: 14px;
        color: $white;
        line-height: 24px;
        p {
          margin-bottom: 30px;
        }
      }
      .md-mobile-app-download {
        text-align: center;
        width: 370px;
        @include media-breakpoint-only(xs) {
          width: 100%;
        }
        .md-title {
          font-size: 24px;
          font-weight: bold;
          line-height: 32px;
        }
        .md-download-text {
          font-size: 18px;
          line-height: 21px;
          opacity: 0.5;
        }
      }
    }
    .md-about-us {
      color: rgba(255, 255, 255, 0.5);
      padding: 60px 0;
      font-size: 14px;
      line-height: 24px;
      border-top: 1px solid rgba(216, 216, 216, 0.15);
    }
  }
  .md-right-col {
    @include media-breakpoint-down(md) {
      display: none;
    }
    position: relative;
    img {
      position: absolute;
      top: 33px;
      left: 20px;
    }
  }
  .md-download-app-button-wrapper {
    display: flex;
    justify-content: center;
    
  }
  .md-download-app-button {
    width: 175px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-right: 20px;
    }
    .fab {
      display: inline-block;
      font-size: 24px;
      margin-right: 5px;
    }
    .md-btn-text {
      text-align: left;
      display: inline-block;
      div:first-child {
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1.33px;
        line-height: 13px;
      }
      div:last-child {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 24px;
      }
    }
    @include media-breakpoint-only(xs) {
      width: 140px;
      
      &:first-child {
        margin-right: 5px;
      }
      div:last-child {
        font-size: 15px;
      }
    }
  }
}
.md-copyright-wrapper {
  border-top: 1px solid rgba(216, 216, 216, 0.15);
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px;
}